PORT=5000
NODE_ENV=development
BASE_URL=http://localhost:5000

POSTGRES_USER=your_postgres_user_name # your postgres user name can most probably be "postgres"
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_database_name

DATABASE_URL="postgresql://user:password@localhost:5432/my-db?schema=public"

FORCE_EXIT_TIMEOUT=15